.sign-in-prompt-container {
    text-align: center;
    padding: 20px;
  }
  
  .sign-in-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .username-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .sign-in-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .register-button {
    margin-top: 1em;
    padding: 5px 20px;
    background-color: #687b8f;
  }
  
  .sign-in-button:hover {
    background-color: #0056b3;
  }
  